# Supabase (shared LCF project)
NEXT_PUBLIC_SUPABASE_URL=https://symgxmokposzjcgikgnz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Resend Email
RESEND_API_KEY=re_erUmDm3V_JRdf1BjWofQp1rHWXQhkCVFw
CONTACT_TO_EMAIL=service@masterdecker.com
CONTACT_FROM_EMAIL=noreply@haltonglowlighting.ca
