NEXT_PUBLIC_SITE_URL=https://readykitchens.ca

NEXT_PUBLIC_SUPABASE_URL=https://symgxmokposzjcgikgnz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ShU30g08mdfLDIulBZ7dtQ_MHN4zgS8

RESEND_API_KEY=
CONTACT_TO_EMAIL=service@masterdecker.com
CONTACT_FROM_EMAIL=noreply@readykitchens.ca

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_VERIFY_ENDPOINT=https://turnstile.masterdecker.com

NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
